:root {
  --primary-color: #1e555c;
  --primary-color-lighter: #45bccc;
  --primary-link-color: #820a92;
  --light-color: #fff;
  --dark-color: #2b2b2b;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-body: 1rem;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-body);
  line-height: 1.6;
  color: var(--dark-color);
}

a:visited {
  color: var(--primary-color);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--primary-link-color);
}
a:active {
  color: var(--primary-link-color);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: 700;
}

input,
select,
button {
  font-family: inherit;
}

button:hover {
  background-color: var(--primary-color-lighter);
  color: var(--light-color);
  cursor: pointer;
  opacity: 0.6;
}

/* ---------------- header ------------------- */

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.navigation-list {
  list-style-type: none;
  margin-right: 40px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header__item {
  width: 15vw;
}

/* ------------------- main ----------------- */

.welcome__board {
  display: flex;
  justify-content: center;
}

.profile__portrait {
  margin-right: 2rem;
  width: 15vw;
  border-radius: 50%;
}

/* -------------------- footer ------------------ */

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__img {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* -------------------- My Work --------------- */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.grid__item {
  background-color: var(--primary-color-lighter);
  border-radius: 3%;
  padding: 0 2rem;
}

#work-section {
  width: 90vw;
  margin: auto;
}

/* --------------------------- About -------------------- */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: auto;
}

table {
  margin-top: 3rem;
}

/* ------------------------- contact ----------------- */

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  margin-bottom: 0.5rem;
}

/* ---------------------- Media Querrys ------------- */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    margin-left: 5;
  }
  h1 {
    font-size: var(--fs-h1);
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

/* ------------ Animations -------------- */

.button:hover {
  background-color: var(--primary-color-lighter);

  transition: opacity 0.9s;
}

/* ------------  Berlin SVG ----------------- */

.berlin:hover {
  transform: rotate(180deg);
  transition-duration: 2s;
}
